@using French.Erp.Application.DataObject;
@model ModelBasic<TipoDePessoaDto>
@{
    ViewData["Title"] = "Tipo de Pessoa";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewData["User"] = Model.Nome;
    ViewData["Role"] = Model.Role;
    ViewData["Admin"] = Model.Admin;
}
<div class="text-center">
    <h3 class="display-4">Tipo de Pessoa</h3>
</div>
<div class="text-end">
    <button type="button" id="botaoNovo" name="botaoNovo" class="btn btn-outline-success" onclick="TipoDePessoa.novo();"><i class="fa fa-file"></i>&nbsp;Novo Serviço</button>
</div>
<br />
<div class="form-floating d-none" id="divNovo" name="divNovo">
    <div class="card">
        <div class="card-header bg-black text-white"><b>Novo Tipo de Pessoa</b></div>
        <div class="card-body">
            <div class="row" id="formNovo">
                <div class="col-11">
                    <div class="form-floating mb-3" data-parent="descricao">
                        <input type="hidden" id="TipoDePessoaId" name="TipoDePessoaId" value="" />
                        <input type="text" id="Descricao" name="Descricao" value="" class="form-control" placeholder="Descricao" />
                        <label for="Descricao">Descrição</label>
                    </div>
                </div>
                <div class="col-1">
                    <br />
                    <button type="button" class="btn btn-success" onclick="TipoDePessoa.novoGravar(formNovo)"><i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-primary" onclick="TipoDePessoa.limpar()"><i class="fa fa-eraser"></i></button>
                </div>
            </div>

        </div>

    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-striped table-hover table-sm dataTable" data-item-reload="true" id="tableDados">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width:10%">#</th>
                <th scope="col" style="width:70%">Descrição</th>
                <th scope="col" class="text-right" style="width:20%">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lista)
            {
                <tr>
                    <td data-parent="id">
                        <div class="form-floating mb-3">
                            <input type="text" id="TipoDePessoaId" name="TipoDePessoaId" value="@item.TipoDePessoaId" class="form-control" placeholder="Id" readonly="readonly" />
                            <label for="TipoDePessoaId">Id</label>
                        </div>
                    </td>
                    <td data-parent="descricao">
                        <div class="form-floating mb-3">
                            <input type="text" id="Descricao" name="Descricao" value="@item.Descricao" class="form-control" placeholder="Descricao" />
                            <label for="Descricao">Descrição</label>
                        </div>
                    </td>
                    <td class="text-right">
                        <button type="button" class="btn btn-danger" onclick="TipoDePessoa.excluir('@item.TipoDePessoaId')"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Views/TipoDePessoa/main.js" defer></script>
}
