@model DataSystem
@{
    ViewData["Title"] = "Inicio";
    ViewData["User"] = Model.Nome;
    ViewData["Role"] = Model.Role;
    ViewData["Admin"] = Model.Admin;
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="text-center">
    <img src="~/images/Financial-Planning.jpg" width="720" />
</div>
