@using French.Erp.Application.DataObject;
@{
}
<div class="modal fade" tabindex="-1" id="modalEdicao">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black opacity-75 text-white">
                <h5 class="modal-title">Serviço</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12">
                        <label id="labelDescricao" for="Nome" class="col-form-label">Nome</label>
                        <input type="hidden" id="ServicoId" name="ServicoId" value="" />
                        <input type="text" id="Nome" name="Nome" value="" class="form-control" placeholder="Descricao" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12">
                        <label id="labelDescricao" for="Descricao" class="col-form-label">Descrição</label>
                        <input type="hidden" id="Id" name="Id" value="" />
                        <input type="text" id="Descricao" name="Descricao" value="" class="form-control" placeholder="Descricao" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-outline-primary" id="Gravar" name="Gravar">Gravar</button>
            </div>
        </div>
    </div>
</div>

