@using French.Erp.Application.DataObject;
@model ModelBasic<FeriadoDto>
@{
    ViewData["Title"] = "Feriados";
     
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewData["User"] = Model.Nome;
    ViewData["Role"] = Model.Role;
    ViewData["Admin"] = Model.Admin;
}
<div class="text-center">
    <h3 class="display-4">Feriados - @ViewBag.Header</h3>
</div>
<partial name="NovoFeriado"/>

<br />
<partial name="TableFeriado" model="@Model" />

@section scripts
{
    <script src="~/Views/Feriado/main.js" defer></script>
    <script src="~/Views/Generics/main.js" defer></script>
}
