@using French.Erp.Application.DataObject;
@model SeletoresBasic
@{
    IEnumerable<SelectListItem> tipoDeClienteLista = Model.Seletor1 as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> tipoDePessoaLista = Model.Seletor2 as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> estadoLista = Model.Seletor3 as IEnumerable<SelectListItem>;

}

<div class="modal fade" tabindex="-1" id="modalEdicao">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-black opacity-75 text-white">
                <h5 class="modal-title">Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <h5>Dados do Cliente</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="hidden" id="ClienteId" name="ClienteId" value="" />
                            <input type="text" id="Nome" name="Nome" value="" class="form-control" placeholder=" " required />
                            <label for="Nome">Nome</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" id="RazaoSocial" name="RazaoSocial" value="" class="form-control" placeholder=" " required />
                            <label for="RazaoSocial">Razão Social</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-xxl-3">
                        <div class="form-floating mb-3">
                            <input type="text" id="Documento" name="Documento" value="" class="form-control" placeholder=" " required />
                            <label for="Documento">Documento</label>
                        </div>
                    </div>
                    <div class="col-6 col-xxl-3">
                        <div class="form-floating mb-3">
                            <input type="text" id="InscricaoEstadual" name="InscricaoEstadual" value="" class="form-control" placeholder=" " required />
                            <label for="InscricaoEstadual">Insc. Estadual</label>
                        </div>
                    </div>
                    <div class="col-6 col-xxl-3">
                        <div class="form-floating mb-3">
                            <select id="TipoDePessoaId" name="TipoDePessoaId" asp-items="tipoDePessoaLista" class="form-select" data-width="100%" data-header="Escolha" data-done-button="true" data-live-search="false">
                                <option value="0">Selecione</option>
                            </select>
                            <label id="labelTipoDePessoa" for="TipoDePessoaId">Tipo De Pessoa</label>
                        </div>
                    </div>
                    <div class="col-6 col-xxl-3">
                        <div class="form-floating mb-3">
                            <select id="TipoDeClienteId" name="TipoDeClienteId" asp-items="tipoDeClienteLista" class="form-select" data-width="100%" data-header="Escolha" data-done-button="true" data-live-search="false">
                                <option value="0">Selecione</option>
                            </select>
                            <label id="labelTipoDeCliente" for="TipoDeClienteId">Tipo de Cliente</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-xxl-3">
                        <div class="form-floating mb-3">
                            <input type="text" id="CadastroMunicipal" name="CadastroMunicipal" value="" class="form-control" placeholder=" " required />
                            <label for="CadastroMunicipal">Cad. Municipal</label>
                        </div>
                    </div>
                    <div class="col-6 col-xxl-6">
                        <div class="form-floating mb-3">
                            <input type="text" id="Contato" name="Contato" value="" class="form-control" placeholder=" " required />
                            <label for="Contato">Contato</label>
                        </div>
                    </div>
                    <div class="col-6 col-xxl-3">
                        <div class="form-floating mb-3">
                            <input type="text" id="Telefone" name="Telefone" value="" class="form-control" placeholder=" " required />
                            <label for="Telefone">Telefone</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Endereço do Cliente</h5>
                    </div>
                </div>               
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" id="Endereco" name="Endereco" value="" class="form-control" placeholder=" " required />
                            <label for="Endereco">Endereço</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-xxl-2">
                        <div class="form-floating mb-3">
                            <input type="text" id="Numero" name="Numero" value="" maxlength="5" class="form-control" placeholder=" " required />
                            <label for="Numero">Número</label>
                        </div>
                    </div>
                    <div class="col-4 col-xxl-3">
                        <div class="form-floating mb-3">
                            <input type="text" id="Complemento" name="Complemento" value="" class="form-control" placeholder=" " />
                            <label for="Complemento">Complemento</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <input type="text" id="Bairro" name="Bairro" value="" maxlength="50" class="form-control" placeholder=" " required />
                            <label for="Bairro">Bairro</label>
                        </div>
                    </div>
                    <div class="col-4 col-xxl-3">
                        <div class="form-floating mb-3">
                            <input type="text" id="Cep" name="Cep" value="" maxlength="10" class="form-control" placeholder=" " required />
                            <label for="Cep">C.E.P.</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <select id="EstadoId" name="EstadoId" asp-items="estadoLista" class="form-select" data-width="100%" data-header="Escolha" data-done-button="true" data-live-search="true" onchange="Generics.CarregarCidades(this)">
                                <option value="0">Selecione</option>
                            </select>
                            <label id="labelEstado" for="EstadoId">Estado</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-floating mb-3">
                            <select id="CidadeId" name="CidadeId" class="form-select" data-width="100%" data-header="Escolha" data-done-button="true" data-live-search="true">
                                <option value="0">Selecione</option>
                            </select>
                            <label id="labelCidade" for="CidadeId">Cidade</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-outline-primary" id="Gravar" name="Gravar">Gravar</button>
            </div>
        </div>
    </div>
</div>