@using French.Erp.Application.DataObject
@using Dietcode.Core.Lib
@model List<TarefaDto>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var tarefa = ViewData["ClienteId"];

}
<div class="modal fade" tabindex="-1" id="modalTarefas_@tarefa">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-black opacity-75 text-white">
                <h5 class="modal-title">Tarefas/Tasks/Works</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                        <table class="table table-striped table-hover table-responsive-xxl dataTable" data-item-reload="true" id="tableDados">
                            <thead>
                                <tr class="table-dark">
                                    <th scope="col" style="width:45%">Nome</th>
                                    <th scope="col" style="width:15%">Valor</th>
                                    <th scope="col" style="width:40%">Periodo</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="col" style="width:45%">@item.Nome</th>
                                    <th scope="col" style="width:15%">R$ @item.ValorCobrado.Value.ToString("N2")</th>
                                    <th scope="col" style="width:40%">@item.DataInicio.ToDateFormated() - @item.DataFim.ToDateFormated()</th>
                                </tr>

                            }
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>