@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <titleFrench System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/v4-shims.css" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" />
</head>
<body>
    <div class="modalLoading"></div>


    <h1 class="text-danger">Ooops. Ocorreu um  erro.</h1>
    <h2 class="text-danger">Desculpe o incoveniente</h2>

    @if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
    <img width="512" src="~/images/Erro.jpg" />
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
    <p>
        <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
        It can result in displaying sensitive information from exceptions to end users.
        For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
        and restarting the app.
    </p>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - French Web
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/popper.js/umd/popper.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/lib/font-awesome/js/all.min.js"></script>
    <script type="text/javascript" src="~/lib/font-awesome/js/v4-shims.js"></script>
    <script type="text/javascript" src="~/lib/toastr.js/toastr.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/ajax.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/mensagens.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/util.js" asp-append-version="true"></script>
</body>
</html>
