@using French.Erp.Application.DataObject;
@{
}

<div class="modal fade" tabindex="-1" id="modalEdicao">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-black opacity-75 text-white">
                <h5 class="modal-title">Banco</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3 col-sm-3 col-xl-3 col-md-3 col-lg-3">
                        <label id="labelCodigo" for="Codigo" class="col-form-label">Código</label>
                        <input type="hidden" id="BancoId" name="BancoId" value="" />
                        <input type="text" id="Codigo" name="Codigo" value="" class="form-control" placeholder="Codigo" />
                    </div>
                    <div class="col-7 col-sm-7 col-xl-7 col-md-7 col-lg-7">
                        <label id="labelApelido" for="Apelido" class="col-form-label">Apelido</label>
                        <input type="text" id="Apelido" name="Apelido" value="" class="form-control" />
                    </div>
                    <div class="col-2 col-sm-2 col-xl-2 col-md-2 col-lg-2">
                        <label id="labelStatus" for="Status" class="col-form-label">Status</label>
                        <input type="checkbox" id="Status" name="Status" value="" class="form-check" placeholder="Status" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12">
                        <label id="labelNome" for="Nome" class="col-form-label">Nome</label>
                        <input type="hidden" id="Id" name="Id" value="" />
                        <input type="text" id="Nome" name="Nome" value="" class="form-control" placeholder="Nome" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-outline-primary" id="Gravar" name="Gravar">Gravar</button>
            </div>
        </div>
    </div>
</div>

