@using French.Erp.Application.DataObject;
@using Dietcode.Core.Lib;
@model ModelBasic<TarefaDto, TarefaItemDto>
@{
    IEnumerable<SelectListItem> cliente = Model.Seletores.Seletor1 as IEnumerable<SelectListItem>;
    ViewData["User"] = Model.Nome;
    ViewData["Role"] = Model.Role;
    ViewData["Admin"] = Model.Admin;

    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var numeroNota = $"{Model.Valor1 ?? 0}";
    var itens = $"{Model.ViewModel.TarefaItem.Count()}" ?? "0";
}

@if (!Model.IsValid)
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                @Model.Erro !
            </div>
        </div>
    </div>
}
    <h5 class="modal-title">Tarefa / Orçamento</h5>
    <div class="row mb-3">
        <div class="col-12 col-xxl-4">
            <div class="form-floating">
                <input type="hidden" asp-for="ViewModel.TarefaId" name="TarefaId" id="TarefaId" />
                <input type="hidden" asp-for="ViewModel.ClienteId" name="ClienteId" id="ClienteId" />
                <select id="Cliente" name="Cliente" asp-items="cliente" asp-for="ViewModel.ClienteId" class="form-select form-select-lg" onchange="Tarefa.changeCliente()" data-width="100%" data-header="Escolha" data-done-button="true" data-live-search="true">
                    <option value="0">Selecione</option>
                </select>
                <label for="Cliente">Cliente</label>
            </div>
        </div>
        <div class="col-6 col-xxl-4">
            <div class="form-floating">
                <input type="text" asp-for="ViewModel.Nome" id="Nome" class="form-control form-control-lg" placeholder="Nome" required="required" />
                <label for="Nome">Nome/Serviço</label>
            </div>
        </div>
        <div class="col-6 col-xxl-2">
            <div class="form-floating">
                <input type="date" asp-for="ViewModel.DataInicio" id="DataInicio" class="form-control form-control-lg" placeholder="dd/mm/aaaa" />
                <label for="DataInicio">Início</label>
            </div>
        </div>
        <div class="col-6 col-xxl-2">
            <div class="form-floating">
                <input type="date" asp-for="ViewModel.DataFim" id="DataFim" class="form-control form-control-lg" placeholder="dd/mm/aaaa" />
                <label for="DataFim">Fim</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 col-xxl-1">
            <div class="input-group">
                <span class="input-group-text"><i class="fa fa-qrcode"></i></span>
                <div class="form-floating">
                    <input type="text" id="NumeroNota" name="NumeroNota" value="@numeroNota" class="form-control form-control-lg" disabled="disabled" placeholder=" " />
                    <input type="hidden" asp-for="ViewModel.NotaFiscalId" name="NotaFiscalId" id="NotaFiscalId" />
                    <label for="NumeroNota">N.F.</label>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-1">
            <div class="input-group">
                <span class="input-group-text"><i class="fa fa-tasks"></i></span>
                <div class="form-floating">
                    <input type="text" id="Itens" name="Itens" value="@itens" class="form-control form-control-lg" disabled="disabled" placeholder=" " />
                    <label for="Itens">Itens</label>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-2">
            <div class="input-group">
                <span class="input-group-text">R$</span>
                <div class="form-floating">
                    <input type="text" asp-for="ViewModel.TotalHoras" id="TotalHoras" class="form-control form-control-lg" placeholder=" " />
                    <label for="TotalHoras">Total Horas</label>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-2">
            <div class="input-group">
                <span class="input-group-text">R$</span>
                <div class="form-floating">
                    <input type="text" asp-for="ViewModel.ValorHora" id="ValorHora" class="form-control form-control-lg" placeholder=" " />
                    <label for="ValorHora">Valor Hora</label>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-2">
            <div class="input-group">
                <span class="input-group-text">R$</span>
                <div class="form-floating">
                    <input type="text" asp-for="ViewModel.ValorOrcado" id="ValorOrcado" class="form-control form-control-lg" placeholder="0,00" onkeydown="return Util.onlyValues(event)" />
                    <label for="ValorOrcado">Valor Orçado</label>
                </div>
                <span class="input-group-text" onclick="Tarefa.calcularValorOrcado()"><i class="fa fa-calculator"></i></span>
            </div>
        </div>
        <div class="col-6 col-xxl-2">
            <div class="input-group">
                <span class="input-group-text">R$</span>
                <div class="form-floating">
                    <input type="text" asp-for="ViewModel.ValorDesconto" id="ValorDesconto" class="form-control form-control-lg" placeholder="0,00" onkeydown="return Util.onlyValues(event)" />
                    <label for="ValorDesconto">Valor Desconto</label>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-2">
            <div class="input-group">
                <span class="input-group-text">R$</span>
                <div class="form-floating">
                    <input type="text" asp-for="ViewModel.Comissao" id="Comissao" class="form-control form-control-lg" placeholder="0,00" onkeydown="return Util.onlyValues(event)" />
                    <label for="Comissao">Comissão</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 col-xxl-3">
            <div class="input-group">
                <span class="input-group-text">R$</span>
                <div class="form-floating">
                    <input type="text" asp-for="ViewModel.ValorBruto" id="ValorBruto" class="form-control form-control-lg" placeholder="0,00" onkeydown="return Util.onlyValues(event)" />
                    <label for="ValorBruto">Valor Bruto</label>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3">
            <div class="input-group">
                <span class="input-group-text">R$</span>
                <div class="form-floating">
                    <input type="text" asp-for="ViewModel.ValorCobrado" id="ValorCobrado" class="form-control form-control-lg" placeholder="0,00" onkeydown="return Util.onlyValues(event)" />
                    <label for="ValorCobrado">Valor Cobrado</label>
                </div>
            </div>
        </div>
        <div class="col-6 col-xxl-3">
            <label class="form-check-label" for="GerarItems">Gerar items do serviço em dias úteis</label><br />
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="GerarItems">
                <label class="form-check-label" for="GerarItems">Gerar?</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <div class="form-floating">
                <input type="text" asp-for="ViewModel.Observacao" id="Observacao" class="form-control form-control-lg" placeholder="" maxlength="250" />
                <label id="labelObservacao" for="Observacao">Observação</label>
            </div>
        </div>
    </div>
    <br />
    <div class="row mb-3">
        <div class="col-10">
        </div>
        <div class="col-1 col-xxl-1">
            <button type="button" class="btn btn-secondary" onclick="Tarefa.voltar()">Voltar</button>
        </div>
        <div class="col-1 col-xxl-1">
            <button type="button" class="btn btn-primary" onclick="Tarefa.gravar()">Gravar</button>
        </div>
    </div>
<br />

@section scripts
{
    <script src="~/Views/Tarefa/edit.js" defer></script>
}
